@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.avatar {
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 75%;
    margin: 30px auto;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

.info-text {
    margin-left: 40px;
}

.info-text > h4 {
    margin-bottom: 10px;
}
.bg-yellow {
    background-color: #fff9dc;
}

.bg-green {
    background-color: #e5ffe7;
}

.bg-red {
    background-color: #ffe5e5;
}
.card {
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card > h2 {
    margin-bottom: 20px;
}
.card li {
    margin-bottom: 10px;
}
.table {
    width: 100%;

}
.table td {
    padding-bottom: 10px;
}
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
